{% extends 'layouts/base.html' %}
{% set isHomepage = False %}

{% block app_breadcrumbs %}
    {{
        govukBreadcrumbs({
        'items': [
            {
                'text': "Home",
                'href': url_for('main.index')
            },
            {
                'text': "Cluster analysis results",
             },
            ]
        })
    }}
{% endblock app_breadcrumbs %}

{% block content %}
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop'>
        <h1 class="govuk-heading-l">Cluster analysis results</h1>
        <p class="govuk-body">
            Here are the results of the last five days of cluster analyses. Older analyses are deleted.
        </p>
        {% for analysis in analyses %}

        <div id="analysis-{{ analysis.id }}" class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Analysis
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Source File
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ analysis.source_file }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Results
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <a href="{{ url_for('main.cluster_results', analysis_id=analysis.id) }}">
                                {{ analysis.grouped_reasons | length }} groups of invalid reasons
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Created at
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ analysis.created_at | short_datetime }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Actions
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <a href="{{ url_for('main.cluster_report', analysis_id=analysis.id) }}" class="govuk-link">
                                Download report
                            </a>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock content %}
