{% extends 'layouts/base.html' %}
{% set isHomepage = True %}

{% block content %}
<div class='govuk-grid-row'>
  <div class='govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop'>
    <h1 class="govuk-heading-xl">Planning Data Analysis tools</h1>
    <p class="govuk-body">This application is a work in progress. It is a collection of tools for analysing planning data.</p>
    <p class="govuk-body">It is built using <a href="https://github.com/digital-land/planning-data-analysis">Digital Land planning data analysis tools</a></p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>
</div>
<div class='govuk-grid-row'>
  <div class='govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop'>
    <h2 class="govuk-heading-m">Tools</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="{{ url_for('main.extract_tables') }}">Extract tables from a PDF file or a webpage</a></li>
      <li><a href="{{ url_for('main.analyze_clusters_view') }}">Analyze clusters of invalid planning application reasons</a></li>
      <li><a href="{{ url_for('main.collect_plan_data_view') }}">Collect and process planning documents from local authority websites</a></li>
    </ul>
  </div>
</div>
{% endblock %}
